.contenaire {
  margin: auto;

  p{font-family: 'Hanken Grotesk', sans-serif;}
  // a:visited {color: black;}
  a {
    text-decoration: none;
    // color: #000;
  }
}

#news {
  height: 600px;
  background-color: #f5f1c0;
  padding-bottom: 60px;

}
.publications {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;

  .last_post {
    height: 332px;
    width: 70%;
    background-color: gray;
  }

  .old_posts {
    background-color: gray;
    width: 30%;
    height: 200px;
    padding-bottom: 20px;
  }

}

#boutique {
  background: rgba(151, 143, 67, 0.05);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  #home_articles {
    display: block;
  }
  }


#home_articles {
  width: 90%;
  margin-bottom: 30px;
  margin: auto;
}

#big_button {
  width: 16%;
  background: #FFFFFF;
border: 1px solid #000000;
border-radius: 4px;
padding: 5px;
}
