<div class="contenaire">
  <h1><%=@article.titre%></h1>
  <% @article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%=button_to "Acheter", commandes_path, params: {article_id: @article.id}, remote: true, data: { disable_with: "validating..."} %>

</div>
