<div class="barre">
      <ul id="ligne">
        <li class="valeur", id="page_active">ACCUEIL</li>
        <li class="valeur"><a href="#event">PROCHAINS EVENEMENTS</a></li>
        <%# <img class="deco" src="../../assets/images/ligne_boule.png" alt="décoration" /> %>
        <li class="valeur"><a href="#news">NEWS</a></li>
        <li class="valeur"><a href="#boutique">BOUTIQUE</a></li>
        <li class="valeur"><a href="#partenaires">PARTENAIRES</a></li>
      </ul>
    </div>
