.button {
  background-color: #FBE506;
  // border-radius: 26px;
  display: block;
  color: rgb(0, 0, 0);
  padding: 14px;
  width: 38%;
  text-align: center;
  text-decoration: none;
  margin: auto;
  // border: 1px solid #282828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
