.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 65%;
}
.list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.onglet {
  margin-left: 15px;
  text-decoration: none;
  border-right: solid;
    border-width: 1px;
    padding-right: 15px;
}
#last {
  border: none;
}
.login {
display: inline;
}
