// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: #ffffff;
}

@media screen and (max-width: 800px) {
  .titre_partie {
    font-size: 28px;
    line-height: 52px;

  }
  h2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1023px) {
  .titre_partie {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }

}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  h4 {
  font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  h4 {
  font-size: 60px;
  }
}
  @media screen and (min-width: 1024px) {
    .titre_partie {
      font-size: 50px;
      line-height: 50px;}
    h2 {
      font-size: 30px;
    line-height: 39px;
    }
    }
.titre_partie {
  font-family: 'Hanken Grotesk', sans-serif;
  margin-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  font-weight: 600;
  text-decoration: underline #FBE506 6px;
  text-underline-offset: 8px;
  width: 100%;
}

h2 {font-weight: 600;

font-family: 'Hanken Grotesk', sans-serif;}


h3 {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: larger;
  line-height: 26px;
}

h4 {
  width: 80%;
height: 150px;
margin: auto;

/* H2 */

font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
// font-size: 50px;
line-height: 60px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}

a {color: #000000;
text-decoration: none;}
